* {
    box-sizing: border-box;
  }
body{
  font-family: 'Poppins';font-size: 20px;
  color: #f36c17;
  background-color: #303030;
}

.row{
  margin: 50px;
  text-align: center;

}
img{
    margin-top: 100px;
    border-radius: 5%;
    width: 400px;
    height: 400px;
    text-align: right;
    
}
.aboutMe{
  margin-top:150px;
  left:40px;
   float:left;
   text-align: justify center;
}